vhdlsim_RED_TEMP/
vhdlsim/work/
*.bak
*~
vhdlsim/transcript
vsim.wlf
vhdlsim/quartus/
tcl_stacktrace.txt
assembler.bin/
assembler.sh
*.hdr
*.asm.mem
*.list
*\_dump.txt
*.bin
*.swp
DLX_wave.do
test.asm
#Binary file
test_sqrt
